extends ../layout

block content
  h2= title
  p 
    | Are you sure you want to delete 
    em= message.title
    | ?
  form(action="/messages/" + message.id + "/delete", method="post")
    a(href="/messages") No! Take me back! 
    | 
    input(type="submit", value = "Yes, I'm sure")