div
  label(for="content") Body:
  textarea(name="content")= message.content
div
  label(for="author") Author:
  input(type="text", name="author" value=message.author)
div
  label(for="time") Expiration Date
  select#time(name="time")
    option(value="0.day") Today
    option(value="3.days") 3 days
    option(value="7.days" selected) 7 days
    option(value="2.weeks") 2 Weeks
    option(value="null") Indefinitely


input(type="submit")

<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>