extends ../layout

block content
  h2= message.title
  include by_line
  p= message.body
  a(href="../") &larr; Back 
  if loggedIn
    | | 
    a(href="/messages/" + message.id + "/edit") Edit Message 
    | | 
    a(href="/messages/" + message.id + "/delete") Delete Message